@charset "UTF-8";

/* 
*Typical device breakpoints*

Pequenas Telas: até 600px
Celulares: 600px até 768px
Tablets: 768 até 992px
Desktops: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to right, #423A1C, #210e35);
    }
    section#tela_login{
        width: 85vw;
    }
    section#tela_login > div#img{
        float: left;
        width: 35%;
        height: 100%;
    }
    section#tela_login > div#formulario{
        float: right;
        width: 65%;
    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to right, #423A1C, #210e35);
    }
    section#tela_login{
        width: 850px;
    }
    section#tela_login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#tela_login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
}