@charset "UTF-8";

/*
    Paleta de cores
    Amarelo: #423A1C
    Roxo: #270D42
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #53481f;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#tela_login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.620);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#tela_login > div#img{
    display: block;
    background: #53481f url(../imagens/feixes.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}
section#tela_login > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > div.campo{
    background-color: #49401f;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}
div.campo > span{
    color: black;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: #4d2a72c7;
    color: wheat;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    padding: 6px;
    transform: translatey(-10px);
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49401f;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #2b2512;
    
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 0.9em;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    text-decoration: underline;
}
form > a.botao > span{
    font-size: 0.8em;
}